Host proof-x86
    HostName X86_WIFI_ADDRESS_OR_RESERVED_NAME
    User X86_USER
    IdentityFile ~/.ssh/proof_ed25519
    IdentitiesOnly yes
    AddressFamily inet
    StrictHostKeyChecking yes
    ServerAliveInterval 15
    ServerAliveCountMax 3

Host proof-pi
    HostName 10.42.0.2
    User PI_USER
    ProxyJump proof-x86
    IdentityFile ~/.ssh/proof_ed25519
    IdentitiesOnly yes
    AddressFamily inet
    StrictHostKeyChecking yes
    ServerAliveInterval 15
    ServerAliveCountMax 3
